
        <div class="site-footer">
            <div class="container">
                <div class="footer-fix">

                    <!-- =============================== Column One - 1 =================================== -->

                    <div class="cols-4">


                        <div class="widget-column-1">

                            <a href="#"><img src="user/wp-content/themes/home-styling-interior-pro/images/footer_logo.png" /></a>
                            <p>Aenean sodales et diam vitae omi venenatis. In hac habitasse platea dictumst. Nullam volutpat sed nisi a ultricies. Quisque ultricies orcite sed malesuada imperdi dictumst. Nullam volutpat sed nisi</p>
                        </div>


                        <div class="widget-column-2">

                            <h3>NAVIGATION</h3>
                            <div class="menu-navigation-container">
                                <ul id="menu-navigation" class="menu">
                                    <li id="menu-item-466" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-383 current_page_item menu-item-466"><a href="index.html" aria-current="page">Home</a></li>
                                    <li id="menu-item-468" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-468"><a href="blog-full-width/index.html">Blog</a></li>
                                    <li id="menu-item-470" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-470"><a href="services/index.html">Services</a></li>
                                    <li id="menu-item-472" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-472"><a href="shop-2/index.html">Shop</a></li>
                                    <li id="menu-item-469" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-469"><a href="contact/index.html">Contact</a></li>
                                    <li id="menu-item-571" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-571"><a target="_blank" href="https://www.themescarts.com/products/home-styling-wordpress-theme/?add-to-cart=371">Buy Now</a></li>
                                </ul>
                            </div>
                        </div>


                        <div class="widget-column-3">
                            <h3>SERVICES</h3>
                            <div class="menu-services-container">
                                <ul id="menu-services" class="menu">
                                    <li id="menu-item-473" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-473"><a href="#">Architecture</a></li>
                                    <li id="menu-item-474" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-474"><a href="#">Interior Work</a></li>
                                    <li id="menu-item-475" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-475"><a href="#">Retail Designs</a></li>
                                    <li id="menu-item-476" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-476"><a href="#">2D/3D Layouts</a></li>
                                    <li id="menu-item-477" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-477"><a href="#">Inter Design</a></li>
                                    <li id="menu-item-478" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-478"><a href="#">Decoration Art</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="widget-column-4">
                            <h3>NEWSLETTER</h3>
                            <script>
                                (function () {
                                    window.mc4wp = window.mc4wp || {
                                        listeners: [],
                                        forms: {
                                            on: function (evt, cb) {
                                                window.mc4wp.listeners.push(
                                                    {
                                                        event: evt,
                                                        callback: cb
                                                    }
                                                );
                                            }
                                        }
                                    }
                                })();
                            </script><!-- Mailchimp for WordPress v4.10.4 - https://wordpress.org/plugins/mailchimp-for-wp/ --><form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-479" method="post" data-id="479" data-name="Newsletter">
                                <div class="mc4wp-form-fields">
                                    <input type="email" name="EMAIL" placeholder="Your email address" required />
                                    <input type="submit" value="Sign up" />
                                </div><label style="display: none !important;">Leave this field empty if you're human: <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off" /></label><input type="hidden" name="_mc4wp_timestamp" value="1750854938" /><input type="hidden" name="_mc4wp_form_id" value="479" /><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1" /><div class="mc4wp-response"></div>
                            </form><!-- / Mailchimp for WordPress Plugin -->                    <div class="footer-info-dtl">

                                <div class="footsocial">
                                    <a class="fab fa-facebook-f" target="_blank" href="#"></a>

                                    <a class="fab fa-instagram" target="_blank" href="#"></a>

                                    <a class="fa-brands fa-x-twitter" target="_blank" href="#"></a>

                                    <a class="fab fa-youtube" target="_blank" href="#"></a>


                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>

                        <div class="clear"></div>
                    </div>

                </div>

                <div class="clear"></div>
            </div><!--end .footer-fix-->
        </div><!--end .container-->

