<div id="masthead" class="site-header ">

    <div class="LgoBX">

        <div class="hdr-topstrip">
            <div class="container">
                <div class="hdrdetail">
                    <div class="infoBx">

                        <div class="header-top-area-left">
                            <div class="hdrtop-Info hdrsocial">
                                <a class="fab fa-facebook-f" target="_blank" href="#"></a>

                                <a class="fa-brands fa-x-twitter" target="_blank" href="#"></a>

                                <a class="fab fa-linkedin" target="_blank" href="#"></a>


                            </div>
                        </div>
                        <div class="header-top-area-right">
                            <div class="heade-top-area-mail heade-top-area-add"><i class="fas fa-phone-alt"></i><a>+84
                                    5854 00000</a></div>
                            <div class="heade-top-area-mail"><i class="fas fa-envelope"></i><a
                                    href="mailto:info@website.com">Tranminkhoifacebook123@gmail.com</a></div>
                            <div class="heade-top-area-mail"><i class="fas fa-map-marker-alt"></i>Bình Thạnh - TP.Hồ Chí
                                Minh</div>
                        </div>
                        <div class="clear"></div>
                    </div><!-- .infoBx-->
                </div><!-- .hdrdetail-->
                <div class="clear"></div>
            </div><!-- .container -->
        </div><!-- .hdr-topstrip -->
        <div class="clear"></div>
        <div class="header_menu_area">
            <div class="container">

                <div style="float: left;
                                max-width: 30%;
                                text-align: left;
                                padding: 25px 0px 15px 0px;
                                position: relative; 
                                z-index: 999;">

                    <a asp-action="Index" asp-controller="Home" style="
                    font-weight: bold;
                    font-size: 24px;
                    color: white;
                    text-decoration: none;
                    font-family: 'Tim', sans-serif;

                    ">
                        TranMinhKhoi
                    </a>

                </div>

                <div id="navigationpanel" style="float: right;">
                    <nav id="main-navigation" class="site-navigation" role="navigation" aria-label="Primary Menu">
                        <button type="button" class="menu-toggle">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="menu-header-container">
                            <ul id="primary-menu" class="nav-menu" style="padding:10px;font-size: 16px;">
                                <li id="menu-item-385"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-383 current_page_item menu-item-385">
                                    <a asp-action="Profile" asp-controller="Home" aria-current="page">PROFILE</a>
                                </li>
                                <li id="menu-item-386"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-386">
                                    <a asp-action="Social" asp-controller="Home">SOCIAL</a>
                                </li>
                                <li id="menu-item-396"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-396">
                                    <a asp-action="Politics" asp-controller="Home">POLITICS</a>
                                </li>
                                <li id="menu-item-396"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-396">
                                    <a asp-action="Competion" asp-controller="Home">COMPETION</a>
                                </li>
                                <li id="menu-item-396"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-396">
                                    <a asp-action="Fund" asp-controller="Home">FUND</a>
                                </li>
                                <li id="menu-item-396"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-396">
                                    <a asp-action="Index" asp-controller="StudentLife">STUDENT LIFE</a>
                                </li>
                                <li id="menu-item-login"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-login">
                                    <a asp-action="Login" asp-controller="Account" class="btn btn-primary"
                                        style="color:white; margin-left:10px;">LOGIN</a>
                                </li>
                                <li id="menu-item-387"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-387">
                                    <a >Nguyễn Văn    </a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-388"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-388">
                                            <a href="blog-full-width/index.html">Blog Full Width</a></li>
                                        <li id="menu-item-389"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-389">
                                            <a href="blog-left-sidebar/index.html">Blog Left Sidebar</a></li>
                                        <li id="menu-item-391"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-391">
                                            <a href="blog-right-sidebar/index.html">Blog Right Sidebar</a></li>
                                        <li id="menu-item-390"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-390">
                                            <a href="blog-no-sidebar/index.html">Blog No Sidebar</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav><!-- #main-navigation -->
                    <div class="clear"></div>
                </div>


                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>

    </div><!-- .LgoBX -->
</div><!--.site-header -->
