<div id="masthead" class="site-header ">

    <div class="LgoBX">

        <div class="hdr-topstrip">
            <div class="container">
                <div class="hdrdetail">
                    <div class="infoBx">

                        <div class="header-top-area-left">
                            <div class="hdrtop-Info hdrsocial">
                                <a class="fab fa-facebook-f" target="_blank" href="#"></a>

                                <a class="fa-brands fa-x-twitter" target="_blank" href="#"></a>

                                <a class="fab fa-linkedin" target="_blank" href="#"></a>


                            </div>
                        </div>
                        <div class="header-top-area-right">
                            <div class="heade-top-area-mail heade-top-area-add"><i class="fas fa-phone-alt"></i><a href="tel:123 456 7890">123 456 7890</a></div>
                            <div class="heade-top-area-mail"><i class="fas fa-envelope"></i><a href="mailto:info@website.com">info@website.com</a></div>
                            <div class="heade-top-area-mail"><i class="fas fa-map-marker-alt"></i>15/B City Town New York, USA</div>
                        </div>
                        <div class="clear"></div>
                    </div><!-- .infoBx-->
                </div><!-- .hdrdetail-->
                <div class="clear"></div>
            </div><!-- .container -->
        </div><!-- .hdr-topstrip -->
        <div class="clear"></div>
        <div class="header_menu_area">
            <div class="container">

                <div  style="float: left;
    max-width: 30%;
    text-align: left;
    padding: 25px 0px 15px 0px;
    position: relative;
    z-index: 999;">

                    <a 
                    asp-action="Index" 
                    asp-controller="Home" 
                    style="
                    font-weight: bold;
                    font-size: 24px;
                    color: white;
                    text-decoration: none;
                    font-family: 'Tim', sans-serif;

                    " >
                        TranMinhKhoi
                        </a>

                </div>

                <div id="navigationpanel">
                    <nav id="main-navigation" class="site-navigation" role="navigation" aria-label="Primary Menu">
                        <button type="button" class="menu-toggle">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="menu-header-container">
                            <ul id="primary-menu" class="nav-menu">
                                <li id="menu-item-385" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-383 current_page_item menu-item-385"><a href="index.html" aria-current="page">Home</a></li>
                                <li id="menu-item-386" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-386"><a href="about/index.html">About</a></li>
                                <li id="menu-item-396" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-396"><a href="gallery/index.html">Gallery</a></li>
                                <li id="menu-item-387" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-387">
                                    <a href="blog/index.html">Blog</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-388" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-388"><a href="blog-full-width/index.html">Blog Full Width</a></li>
                                        <li id="menu-item-389" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-389"><a href="blog-left-sidebar/index.html">Blog Left Sidebar</a></li>
                                        <li id="menu-item-391" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-391"><a href="blog-right-sidebar/index.html">Blog Right Sidebar</a></li>
                                        <li id="menu-item-390" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-390"><a href="blog-no-sidebar/index.html">Blog No Sidebar</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-406" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-406">
                                    <a href="#">Templates</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-401" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-401"><a href="page-full-width/index.html">Page Full Width</a></li>
                                        <li id="menu-item-403" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-403"><a href="page-right-sidebar/index.html">Page Right Sidebar</a></li>
                                        <li id="menu-item-402" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-402"><a href="page-left-sidebar/index.html">Page Left Sidebar</a></li>
                                        <li id="menu-item-400" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-400"><a href="no-sidebar/index.html">No Sidebar</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-394" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-394"><a href="contact/index.html">Contact</a></li>
                                <li id="menu-item-566" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-566"><a target="_blank" href="https://www.themescarts.com/products/home-styling-wordpress-theme/?add-to-cart=371">Buy Now</a></li>
                            </ul>
                        </div>
                    </nav><!-- #main-navigation -->
                    <div class="clear"></div>
                </div>

                <div class="header_search_area">
                    <div class="header_search_box">
                        <li><div class="right_info_search_toggle" title="Search"><i class="fa fa-search" aria-hidden="true"></i></div></li>
                        <div class="header_form">
                            <form role="search" method="get" class="search_form" action="">
                                <input type="search" class="form_field" placeholder="Search &hellip;" name="s">
                                <input type="hidden" name="post_type" value="product">
                                <input type="submit" class="form_submit" value="Search">
                            </form>
                        </div>
                    </div>
                    <div class="header_button_box"><a href="#">Book Consult</a></div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>

    </div><!-- .LgoBX -->
</div><!--.site-header -->
