<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>



    <title>Dashboard - NiceAdmin Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/admin/assets/img/favicon.png" rel="icon">
    <link href="~/admin/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/admin/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/admin/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/admin/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/admin/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/admin/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/admin/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/admin/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <link href="~/admin/assets/css/style.css" rel="stylesheet">


    <!-- Tích hợp summernote và elfinder -->
    <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/theme.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="~/lib/elfinder/css/elfinder.full.css" />
    <link rel="stylesheet" href="~/lib/elfinder/css/theme.css" />
    @* <link rel="stylesheet" href="~/css/elfinder/themes/material/css/theme-gray.css" /> *@
    @*  summernote*@
    <link rel="stylesheet" href="~/lib/summernote/summernote-bs5.css" />
    <link rel="stylesheet" href="~/lib/summernote/summernote-lite.css" />
</head>
<body>
    <header>
        <!-- header content -->
    </header>

    <main id="main" class="main">
        @await Html.PartialAsync("~/Areas/Admin/Views/PartialView/_Header.cshtml")
        @await Html.PartialAsync("~/Areas/Admin/Views/PartialView/_Menu.cshtml")
        @RenderBody()
        @await Html.PartialAsync("~/Areas/Admin/Views/PartialView/_Footer.cshtml")
    </main>


    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
       
    </footer><!-- End Footer -->
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <!-- Vendor JS Files -->
    <script src="~/admin/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/admin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/admin/assets/vendor/chart.js/chart.min.js"></script>
    <script src="~/admin/assets/vendor/echarts/echarts.min.js"></script>
    <script src="~/admin/assets/vendor/quill/quill.min.js"></script>
    <script src="~/admin/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/admin/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/admin/assets/vendor/php-email-form/validate.js"></script>
    <!-- Template Main JS File -->



    <script src="~/admin/assets/js/main.js"></script>

    @*elfinder*@


    <environment names="Development">

        <script src="~/lib/jquery/dist/jquery.js"></script>
        @* <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@

    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>

    </environment>

    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/lib/elfinder/js/elfinder.full.js"></script>

    @* summernote*@

    <script src="~/lib/summernote/summernote-bs5.js"></script>
    <script src="~/lib/summernote/summernote-lite.min.js"></script>

    @await Component.InvokeAsync("Notyf");
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
