<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <!-- header content -->
    </header>

    <main role="main" class="container">
        @RenderBody() <!-- This is required -->
    </main>

    <footer>
        <!-- footer content -->
    </footer>
</body>
</html>
