

<div class="El-Full-width">
    <div class="post-383 page type-page status-publish hentry" id="post-383">
        <div class="entry-content">
            <div data-elementor-type="wp-page" data-elementor-id="383" class="elementor elementor-383">

                <div class="elementor-element elementor-element-547c0c1 e-flex e-con-boxed e-con e-parent" data-id="547c0c1" data-element_type="container" style="margin-bottom: 52px;">
                    <div class="e-con-inner">
                        <div class="elementor-element elementor-element-57edfc02 e-con-full section1_box e-flex e-con e-child" data-id="57edfc02" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-element elementor-element-5a0d1f29 elementor-widget elementor-widget-image" data-id="5a0d1f29" data-element_type="widget" data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                    <a href="#">
                                        <img decoding="async" src="~/user/theme-images/home-styling-interior/images/service/image1.png" title="" alt="" loading="lazy" />
                                    </a>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-24036093 e-con-full section1_cont_box e-flex e-con e-child" data-id="24036093" data-element_type="container">
                                <div class="elementor-element elementor-element-78963143 elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="78963143" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h3 class="elementor-heading-title elementor-size-default">
                                            <a href="#">COURSE1 </a>
                                        </h3>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-7e97afe0 elementor-align-center elementor-widget elementor-widget-button" data-id="7e97afe0" data-element_type="widget" data-widget_type="button.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-button-wrapper">
                                            <a class="elementor-button elementor-button-link elementor-size-sm" href="#">
                                                <span class="elementor-button-content-wrapper">
                                                    <span class="elementor-button-text">Read More</span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-6282f8ad e-con-full section1_box e-flex e-con e-child" data-id="6282f8ad" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-element elementor-element-16657269 elementor-widget elementor-widget-image" data-id="16657269" data-element_type="widget" data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                    <a href="#">
                                        <img decoding="async" src="~/user/theme-images/home-styling-interior/images/service/image2.png" title="" alt="" loading="lazy" />
                                    </a>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-97e5d6e e-con-full section1_cont_box e-flex e-con e-child" data-id="97e5d6e" data-element_type="container">
                                <div class="elementor-element elementor-element-4eb21940 elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="4eb21940" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h3 class="elementor-heading-title elementor-size-default">
                                            <a href="#">A</a>
                                        </h3>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-7e80394f elementor-align-center elementor-widget elementor-widget-button" data-id="7e80394f" data-element_type="widget" data-widget_type="button.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-button-wrapper">
                                            <a class="elementor-button elementor-button-link elementor-size-sm" href="#">
                                                <span class="elementor-button-content-wrapper">
                                                    <span class="elementor-button-text">Read More</span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-6ab7c935 e-con-full section1_box e-flex e-con e-child" data-id="6ab7c935" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-element elementor-element-56711a3a elementor-widget elementor-widget-image" data-id="56711a3a" data-element_type="widget" data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                    <a href="#">
                                        <img decoding="async" src="~/user/theme-images/home-styling-interior/images/service/image3.png" title="" alt="" loading="lazy" />
                                    </a>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-1d4760e5 e-con-full section1_cont_box e-flex e-con e-child" data-id="1d4760e5" data-element_type="container">
                                <div class="elementor-element elementor-element-3ca8a03a elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="3ca8a03a" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h3 class="elementor-heading-title elementor-size-default">
                                            <a href="#">B</a>
                                        </h3>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-12e426d2 elementor-align-center elementor-widget elementor-widget-button" data-id="12e426d2" data-element_type="widget" data-widget_type="button.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-button-wrapper">
                                            <a class="elementor-button elementor-button-link elementor-size-sm" href="#">
                                                <span class="elementor-button-content-wrapper">
                                                    <span class="elementor-button-text">Read More</span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>

</div>
