<div class="container">
    <div id="tabber-BX">
        <div class="LayoutContent-70 fullwidth">
            <header>
                <h1 class="entry-title">Blog Full Width</h1>
            </header>
            <div class="BlogPostList">
                <article id="post-464"
                    class="post-464 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">

                    <div class="hg-blog-img">
                        <a
                            href="../2024/08/11/it-was-popularised-in-the-with-the-release-of-letraset-sheets-containing/index.html"><img
                                fetchpriority="high" width="1024" height="614"
                                src="../wp-content/uploads/sites/8/2024/08/blog1.jpg"
                                class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""
                                decoding="async"
                                srcset="https://layout.themescarts.com/home-styling-interior/wp-content/uploads/sites/8/2024/08/blog1.jpg 1024w, https://layout.themescarts.com/home-styling-interior/wp-content/uploads/sites/8/2024/08/blog1-300x180.jpg 300w, https://layout.themescarts.com/home-styling-interior/wp-content/uploads/sites/8/2024/08/blog1-768x461.jpg 768w, https://layout.themescarts.com/home-styling-interior/wp-content/uploads/sites/8/2024/08/blog1-600x360.jpg 600w"
                                sizes="(max-width: 1024px) 100vw, 1024px" /></a>
                    </div>



                    <header class="entry-header">
                        <div class="blog-postmeta">

                            <div class="post-date"> <i class="far fa-clock"></i> August 11, 2024</div><!-- post-date -->





                            <span class="blog-postcat"> <i class="fa-solid fa-comments"></i> <a
                                    href="../2024/08/11/it-was-popularised-in-the-with-the-release-of-letraset-sheets-containing/index.html#respond">No
                                    Comments</a></span>

                        </div><!-- .blog-postmeta -->
                        <h3><a href="../2024/08/11/it-was-popularised-in-the-with-the-release-of-letraset-sheets-containing/index.html"
                                rel="bookmark">It was popularised in the with the release of Letraset sheets
                                containing</a></h3>
                    </header><!-- .entry-header -->

                    <div class="entry-summary">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting&#8230;</p>
                        <a class="morebutton"
                            href="../2024/08/11/it-was-popularised-in-the-with-the-release-of-letraset-sheets-containing/index.html">Read
                            More</a>

                    </div><!-- .entry-summary -->

                    <div class="clear"></div>
                </article><!-- #post-## -->
            </div>
            <div class="BlogPostList">
                <article id="post-462"
                    class="post-462 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">

                    <div class="hg-blog-img">
                        <a
                            href="../2024/08/11/it-has-survived-not-only-five-centuries-but-also-the-leap-into-electronic-typesetting/index.html"><img
                                width="1024" height="576" src="../wp-content/uploads/sites/8/2024/08/blog2.jpg"
                                class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""
                                decoding="async"
                                srcset="https://layout.themescarts.com/home-styling-interior/wp-content/uploads/sites/8/2024/08/blog2.jpg 1024w, https://layout.themescarts.com/home-styling-interior/wp-content/uploads/sites/8/2024/08/blog2-300x169.jpg 300w, https://layout.themescarts.com/home-styling-interior/wp-content/uploads/sites/8/2024/08/blog2-768x432.jpg 768w, https://layout.themescarts.com/home-styling-interior/wp-content/uploads/sites/8/2024/08/blog2-600x338.jpg 600w"
                                sizes="(max-width: 1024px) 100vw, 1024px" /></a>
                    </div>



                    <header class="entry-header">
                        <div class="blog-postmeta">

                            <div class="post-date"> <i class="far fa-clock"></i> August 11, 2024</div><!-- post-date -->





                            <span class="blog-postcat"> <i class="fa-solid fa-comments"></i> <a
                                    href="../2024/08/11/it-has-survived-not-only-five-centuries-but-also-the-leap-into-electronic-typesetting/index.html#respond">No
                                    Comments</a></span>

                        </div><!-- .blog-postmeta -->
                        <h3><a href="../2024/08/11/it-has-survived-not-only-five-centuries-but-also-the-leap-into-electronic-typesetting/index.html"
                                rel="bookmark">It has survived not only five centuries, but also the leap into
                                electronic typesetting</a></h3>
                    </header><!-- .entry-header -->

                    <div class="entry-summary">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting&#8230;</p>
                        <a class="morebutton"
                            href="../2024/08/11/it-has-survived-not-only-five-centuries-but-also-the-leap-into-electronic-typesetting/index.html">Read
                            More</a>

                    </div><!-- .entry-summary -->

                    <div class="clear"></div>
                </article><!-- #post-## -->
            </div>
            <div class="BlogPostList">
                <article id="post-460"
                    class="post-460 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">

                    <div class="hg-blog-img">
                        <a href="../2024/08/11/simply-dummy-text-of-the-printing-and-typesetting-industry/index.html"><img
                                width="1024" height="682" src="../wp-content/uploads/sites/8/2024/08/blog3.jpg"
                                class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""
                                decoding="async"
                                srcset="https://layout.themescarts.com/home-styling-interior/wp-content/uploads/sites/8/2024/08/blog3.jpg 1024w, https://layout.themescarts.com/home-styling-interior/wp-content/uploads/sites/8/2024/08/blog3-300x200.jpg 300w, https://layout.themescarts.com/home-styling-interior/wp-content/uploads/sites/8/2024/08/blog3-768x512.jpg 768w, https://layout.themescarts.com/home-styling-interior/wp-content/uploads/sites/8/2024/08/blog3-600x400.jpg 600w"
                                sizes="(max-width: 1024px) 100vw, 1024px" /></a>
                    </div>



                    <header class="entry-header">
                        <div class="blog-postmeta">

                            <div class="post-date"> <i class="far fa-clock"></i> August 11, 2024</div><!-- post-date -->





                            <span class="blog-postcat"> <i class="fa-solid fa-comments"></i> <a
                                    href="../2024/08/11/simply-dummy-text-of-the-printing-and-typesetting-industry/index.html#respond">No
                                    Comments</a></span>

                        </div><!-- .blog-postmeta -->
                        <h3><a href="../2024/08/11/simply-dummy-text-of-the-printing-and-typesetting-industry/index.html"
                                rel="bookmark">Simply dummy text of the printing and typesetting industry</a></h3>
                    </header><!-- .entry-header -->

                    <div class="entry-summary">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting&#8230;</p>
                        <a class="morebutton"
                            href="../2024/08/11/simply-dummy-text-of-the-printing-and-typesetting-industry/index.html">Read
                            More</a>

                    </div><!-- .entry-summary -->

                    <div class="clear"></div>
                </article><!-- #post-## -->
            </div>
            <div class="BlogPostList">
                <article id="post-458"
                    class="post-458 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">

                    <div class="hg-blog-img">
                        <a
                            href="../2024/08/11/various-versions-have-evolved-over-the-years-sometimes-by-accident/index.html"><img
                                width="1024" height="680" src="../wp-content/uploads/sites/8/2024/08/blog4.jpg"
                                class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""
                                decoding="async"
                                srcset="https://layout.themescarts.com/home-styling-interior/wp-content/uploads/sites/8/2024/08/blog4.jpg 1024w, https://layout.themescarts.com/home-styling-interior/wp-content/uploads/sites/8/2024/08/blog4-300x199.jpg 300w, https://layout.themescarts.com/home-styling-interior/wp-content/uploads/sites/8/2024/08/blog4-768x510.jpg 768w, https://layout.themescarts.com/home-styling-interior/wp-content/uploads/sites/8/2024/08/blog4-600x398.jpg 600w"
                                sizes="(max-width: 1024px) 100vw, 1024px" /></a>
                    </div>



                    <header class="entry-header">
                        <div class="blog-postmeta">

                            <div class="post-date"> <i class="far fa-clock"></i> August 11, 2024</div><!-- post-date -->





                            <span class="blog-postcat"> <i class="fa-solid fa-comments"></i> <a
                                    href="../2024/08/11/various-versions-have-evolved-over-the-years-sometimes-by-accident/index.html#respond">No
                                    Comments</a></span>

                        </div><!-- .blog-postmeta -->
                        <h3><a href="../2024/08/11/various-versions-have-evolved-over-the-years-sometimes-by-accident/index.html"
                                rel="bookmark">Various versions have evolved over the years, sometimes by accident</a>
                        </h3>
                    </header><!-- .entry-header -->

                    <div class="entry-summary">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting&#8230;</p>
                        <a class="morebutton"
                            href="../2024/08/11/various-versions-have-evolved-over-the-years-sometimes-by-accident/index.html">Read
                            More</a>

                    </div><!-- .entry-summary -->

                    <div class="clear"></div>
                </article><!-- #post-## -->
            </div>
            <div class="BlogPostList">
                <article id="post-456"
                    class="post-456 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">

                    <div class="hg-blog-img">
                        <a
                            href="../2024/08/11/the-point-of-using-lorem-ipsum-is-that-it-has-a-normal-distribution/index.html"><img
                                width="1024" height="682" src="../wp-content/uploads/sites/8/2024/08/blog5.jpg"
                                class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""
                                decoding="async"
                                srcset="https://layout.themescarts.com/home-styling-interior/wp-content/uploads/sites/8/2024/08/blog5.jpg 1024w, https://layout.themescarts.com/home-styling-interior/wp-content/uploads/sites/8/2024/08/blog5-300x200.jpg 300w, https://layout.themescarts.com/home-styling-interior/wp-content/uploads/sites/8/2024/08/blog5-768x512.jpg 768w, https://layout.themescarts.com/home-styling-interior/wp-content/uploads/sites/8/2024/08/blog5-600x400.jpg 600w"
                                sizes="(max-width: 1024px) 100vw, 1024px" /></a>
                    </div>



                    <header class="entry-header">
                        <div class="blog-postmeta">

                            <div class="post-date"> <i class="far fa-clock"></i> August 11, 2024</div><!-- post-date -->





                            <span class="blog-postcat"> <i class="fa-solid fa-comments"></i> <a
                                    href="../2024/08/11/the-point-of-using-lorem-ipsum-is-that-it-has-a-normal-distribution/index.html#respond">No
                                    Comments</a></span>

                        </div><!-- .blog-postmeta -->
                        <h3><a href="../2024/08/11/the-point-of-using-lorem-ipsum-is-that-it-has-a-normal-distribution/index.html"
                                rel="bookmark">The point of using Lorem Ipsum is that it has a normal distribution</a>
                        </h3>
                    </header><!-- .entry-header -->

                    <div class="entry-summary">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting&#8230;</p>
                        <a class="morebutton"
                            href="../2024/08/11/the-point-of-using-lorem-ipsum-is-that-it-has-a-normal-distribution/index.html">Read
                            More</a>

                    </div><!-- .entry-summary -->

                    <div class="clear"></div>
                </article><!-- #post-## -->
            </div>
            <div class="BlogPostList">
                <article id="post-453"
                    class="post-453 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">

                    <div class="hg-blog-img">
                        <a
                            href="../2024/08/11/it-is-a-long-established-fact-that-a-reader-will-be-distracted/index.html"><img
                                width="1024" height="682" src="../wp-content/uploads/sites/8/2024/08/blog6.jpg"
                                class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""
                                decoding="async"
                                srcset="https://layout.themescarts.com/home-styling-interior/wp-content/uploads/sites/8/2024/08/blog6.jpg 1024w, https://layout.themescarts.com/home-styling-interior/wp-content/uploads/sites/8/2024/08/blog6-300x200.jpg 300w, https://layout.themescarts.com/home-styling-interior/wp-content/uploads/sites/8/2024/08/blog6-768x512.jpg 768w, https://layout.themescarts.com/home-styling-interior/wp-content/uploads/sites/8/2024/08/blog6-600x400.jpg 600w"
                                sizes="(max-width: 1024px) 100vw, 1024px" /></a>
                    </div>



                    <header class="entry-header">
                        <div class="blog-postmeta">

                            <div class="post-date"> <i class="far fa-clock"></i> August 11, 2024</div><!-- post-date -->





                            <span class="blog-postcat"> <i class="fa-solid fa-comments"></i> <a
                                    href="../2024/08/11/it-is-a-long-established-fact-that-a-reader-will-be-distracted/index.html#respond">No
                                    Comments</a></span>

                        </div><!-- .blog-postmeta -->
                        <h3><a href="../2024/08/11/it-is-a-long-established-fact-that-a-reader-will-be-distracted/index.html"
                                rel="bookmark">It is a long established fact that a reader will be distracted</a></h3>
                    </header><!-- .entry-header -->

                    <div class="entry-summary">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting&#8230;</p>
                        <a class="morebutton"
                            href="../2024/08/11/it-is-a-long-established-fact-that-a-reader-will-be-distracted/index.html">Read
                            More</a>

                    </div><!-- .entry-summary -->

                    <div class="clear"></div>
                </article><!-- #post-## -->
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>